#streamlit
#scipy==1.11.0,<2.0.0
#numpy>=1.23.5,<2.3
#pandas
#scikit-learn
#matplotlib
#seaborn
#gensim
#nltk
#python-Levenshtein



streamlit>=1.38.0,<2.0.0
scipy>=1.9.3,<2.0.0  # Try increasing the minimum version if necessary
numpy>=1.23.5,<2.0.0
pandas>=1.5.0,<3.0.0
scikit-learn>=1.0.0,<2.0.0
matplotlib>=3.5.0,<4.0.0
seaborn>=0.11.0,<1.0.0
gensim>=4.1.2,<5.0.0  # Or similar versions that are compatible with scipy
nltk>=3.6.0,<4.0.0
python-Levenshtein>=0.12.0,<1.0.0






